/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
/* :root{
    --ion-font-family: "Source Sans Pro";
} */

:root{
    --ion-background-color: #F9F6EE;
    --ion-text-color: #000000;
}

ion-split-pane{
    --side-min-width: 220px;
    --side-max-width: 220px;
}

ion-menu{
    --max-width: 220px;
}